
.btnDelete {
    display: inline-block;
}

mat-dialog-actions button {
    margin: 0px 4px 0px 4px;
}
.datepickers-container {
  display: flex;
}

.datepickers-container .mat-form-field {
  margin-right: 10px;
}

.Reserveur-container {
  display: flex;
  align-items: center;
}

.Reserveur-container .mat-form-field {
  margin-right: 10px;
}
.selct-container{
  display: flex;
  align-items: center;
}
.selct-container .mat-form-field {
  margin-right: 10px;
}
